/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

.background_blur{
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background_bw {
  background-image: url("background_bw.jpg");
  background-attachment: fixed;
  background-size: 1650px;
  background-repeat: no-repeat;
  background-position: 0px -55px;
}

@font-face {
  font-family: 'PFDinTextCompPro-Bold';
  src:font-url('PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

      /* element that contains the map. */
#map {
  height: 50%;
  width: 100%;
  float: right;
  position: absolute;
}

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: PFDinTextCompPro-Bold;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 150px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }


nav {
  padding: 8px;
  height: 65px;
  line-height: 20px;
}



a .black-text {
  font-size: 100px;
}

header li {
  margin-top: 15px;
}


// line dividing footer content
// footer.page-footer .footer-copyright {
//   border-top: thin solid #616161;
// }

// footer{
//   height: 150px;
// }

footer li {
  display: inline-block;
}

//NEW STUFF!

.header-username {
//   // margin-top: -600px;
  padding: 20px;
  font-size: 30px;
  color: white;
}

.header-tab {
  // padding: 5px;
  font-size: 20px;
  color: white;
}

// Sticky footer code from Materialize
// Ended up not working out (the footer stayed at the bottom, but the flex-direction attribute made the map disappear)
  // body {
    // display: flex;
    // min-height: 100vh;
    // min-height: 90vh;
    // flex-direction: column;
  // }

//   main {
//     flex: 1 0 auto;
//   }

.login-form {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 440px;
  width: 800px;
  background-color: rgba(255,255,255,.6);
  // border-style: solid;
  // border-color: black;
  // border-width: 2px;
  padding: 40px;
}

.signup-form {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 700px;
  width: 800px;
  background-color: rgba(255,255,255,.6);
  // border-style: solid;
  // border-color: black;
  // border-width: 2px;
  padding: 40px;
}

.btn {
  font-size: 30px;
  margin-top: 20px;
  width: 720px;
  text-align: center;
}

// // .form-headers{
// //   // text-align: center;
// // }

.form-labels{
  font-size: 20px;
}

// .sessions-bar {
//   padding: 10px;
// }

// footer{
// //   // position: absolute;
// //   bottom: 0;
//  // position:fixed;
//  bottom:  0px;
//  width: 100%;
// }

// body {padding:0;margin:0;}



td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    color: white;
    font-size: 20px;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    color: white;
}
