<footer class="page-footer grey lighten-4">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
                <h5 class="black-text">GA Lunch Break</h5>
                <p class="black-text">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Contributors:</h5>
                <ul>
                  <li><a class="black-text text" href="https://github.com/ayalalaura">Laura |  A</a></li>
                  <li><a class="black-text text" href="https://github.com/mcabz27">Matthew C | </a></li>
                  <li><a class="black-text text" href="https://github.com/JennRC87">Jennfer C | </a></li>
                  <li><a class="black-text text" href="https://github.com/itajenglish">Taj E | </a></li>
                  <li><a class="black-text text" href="https://github.com/jayanzaman">Jayan Z | </a></li>
                </ul>
          </div>
        </div>
    </div>
    <div class="footer-copyright grey lighten-4">
        <div class="container black-text">
            © 2016 Copyright Text | Made with &hearts; |
            <a class="black-text text-black" href="#!">About</a>
        </div>
    </div>
</footer>
