<footer class="page-footer clearfix grey darken-4">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
                <h5 class="grey-text text-darken-1">GA Lunch Break</h5>
                <p class="grey-text text-darken-1">Immersives go by fast. Don’t waste your time eating crappy food!</p>
                <p class="grey-text text-darken-1">© 2016 Copyright Skulder | Made with &hearts;</p>
          </div>
          <div class="col l4 offset-l1 s11">
                <h5 class="grey-text text-darken-1">Contributors:</h5>
                <ul>
                  <li><a class="grey-text text-darken-1" target="_blank" href="https://github.com/ayalalaura">Laura A | </a></li>
                  <li><a class="grey-text text-darken-1" target="_blank" href="https://github.com/mcabz27">Matthew C | </a></li>
                  <li><a class="grey-text text-darken-1" target="_blank" href="https://github.com/JennRC87">Jennfer C | </a></li>
                  <li><a class="grey-text text-darken-1" target="_blank" href="https://github.com/itajenglish">Taj E | </a></li>
                  <li><a class="grey-text text-darken-1" target="_blank" href="https://github.com/jayanzaman">Jayan Z | </a></li>
                </ul>
              </div>
            </div>
          </div>
</footer>
