<nav class="grey lighten-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><%= image_tag("galb.png", size: "150x63", alt: "GA Lunch Break") %></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn green lighten-2">Home</a></li>
      <li><a href="#" class="black-text">Grub</a></li>
      <li><a href="#" class="black-text">Dranks</a></li>
      <li><a href="#" class="black-text">Hangouts</a></li>
      <li><a href="#" class="black-text">Log In</a></li>
      <li><a href="#" class="black-text">Sign Up</a></li>
    </ul>
  </div>
</nav>
