<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">GA Lunch Break</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn">Home</a></li>
      <li><a href="#">Grub</a></li>
      <li><a href="#">Dranks</a></li>
      <li><a href="#">Hangouts</a></li>
      <li><a href="#">Log In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
</nav>
