<!-- Dropdown Structure from Materialize docs http://materializecss.com/navbar.html-->
<!-- Dropdown Items -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!" class="black-text">Grub</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="black-text">Dranks</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="black-text">Hangouts</a></li>
</ul>
<nav class="grey lighten-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><%= image_tag("galb.png", size: "150x63", alt: "GA Lunch Break") %></a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger-->
      <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Categories</a></li>
      <li><a href="#" class="black-text">Log In</a></li>
      <li><a href="#" class="black-text">Sign Up</a></li>
    </ul>
  </div>
</nav>


