<!DOCTYPE html>
<html>
    <head>
        <title>GALunchBreak</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <!-- <main> -->
            <!-- <div class="container"> -->
            <!-- Sessions Login/Signup Code saved in layouts/_header.html.erb partial-->
                <%= yield %>
            <!-- </div> -->
        <!-- </main> -->
    </body>
</html>
